<!DOCTYPE html>
<html>
  <head>
    <title>Ulahua</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div class="container"> 
    
        <% if flash[:notice] %>
          <div class="alert alert-info"> <%= flash[:notice] %> </div>
        <% end %>
        <% if flash[:alert] %>
        <div class="alert alert-info"> <%= flash[:alert] %> </div>
        <% end %>
        <% if flash[:error] %>
        <div class="alert alert-info"> <%= flash[:error] %> </div>
        <% end %>
        <%= yield %>
      </div>
    
  </body>
</html>
